.bottombar {
  position: relative;
  display: flex;
  gap: 10%;
  align-items: center;
  justify-content: flex-end;
  color: var(--text-1);
}

.bottombar > :nth-child(2) {
  margin-inline-end: auto;
}

.bottombar__icon:hover {
  color: var(--brand);
}

.bottombar__volume-slider {
  position: absolute;
  inset-inline-start: 5.5rem;
  display: flex;
  padding: var(--size-2);
  width: 100%;
  max-width: var(--size-10);
  border-radius: var(--radius-round);
  background-color: hsl(0 0% 0% / 30%);
}

@media (prefers-color-scheme: dark) {
  .bottombar__volume-slider {
    background-color: hsl(0 0% 100% / 20%);
  }
}

.bottombar__range {
  width: 100%;
  accent-color: var(--text-1);
}

@media (prefers-color-scheme: dark) {
  .bottombar__range {
    accent-color: white;
  }
}
